# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*
/tmp
.DS_Store

# Assets are precompiled on deploy
/public/assets
/public/uploads

# PEOPLE WHO USE VIM ROCK!
*.swp
*.swo
.swp
.swo
*.swn
*.swm
